view=registry
registry=https://registry.npmjs.org/
@telepo:registry=http://archive.telepo.com/repository/mitel-npm/
always-auth=false
email=no@email.se
//archive.telepo.com/repository/mitel-npm/:_authToken=a2480385-5c1c-3dd1-88e0-94a16672b224
